.pdf-view-restore
/*.pdf
/docs/*.pdf

*.synctex.gz
*.out
*.aux
*_aux
*.blg
*.bbl
*.brf
*.log
*.toc
*.fdb_latexmk
*.fls
*.vim
*.swp
*.dvi

temp/
auto/

/target
/clean

.cpcache/

.DS_Store

# emacs preview
*.prv/
_*_.tex
*.fmt

__*